package $mainClassPackage

import com.hypixel.hytale.server.core.plugin.JavaPlugin
import com.hypixel.hytale.server.core.plugin.JavaPluginInit

class $mainClassName(init: JavaPluginInit) : JavaPlugin(init)
