package $mainClassPackage;

import com.hypixel.hytale.server.core.plugin.JavaPlugin;
import com.hypixel.hytale.server.core.plugin.JavaPluginInit;

public final class $mainClassName extends JavaPlugin {
    public $mainClassName(JavaPluginInit init) {
        super(init);
    }
}
